<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.exam.mapper.QuestionMapper">

    <resultMap id="questionMap" type="com.atguigu.exam.entity.Question">
        <id column="id" property="id" />
        <association property="answer" javaType="com.atguigu.exam.entity.QuestionAnswer">
            <id column="qas_id" property="id" />
            <result column="qas_create_time" property="createTime" />
            <result column="qas_update_time" property="updateTime" />
            <result column="id" property="questionId" />
        </association>
        <collection property="choices" ofType="com.atguigu.exam.entity.QuestionChoice"
                    column="id" select="com.atguigu.exam.mapper.QuestionChoiceMapper.selectListByQuestionId" />
    </resultMap>

    <select id="customPage" resultMap="questionMap">
        select
        qs.*,
        qas.id qas_id,
        qas.answer,
        qas.keywords,
        qas.create_time qas_create_time,
        qas.update_time qas_update_time
        from questions qs left join question_answers qas on qs.id = qas.question_id
        where qs.is_deleted = 0 and qas.is_deleted = 0
        <if test="queryVo.type != null and queryVo.type != ''">
            and qs.type = #{queryVo.type}
        </if>
        <if test="queryVo.difficulty != null and queryVo.difficulty != ''">
            and qs.difficulty = #{queryVo.difficulty}
        </if>
        <if test="queryVo.categoryId != null">
            and qs.category_id = #{queryVo.categoryId}
        </if>
        <if test="queryVo.keyword != null and queryVo.keyword != ''">
            and title like concat('%',#{queryVo.keyword},'%')
        </if>
        order by qs.create_time desc
    </select>
</mapper>